// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

#content {
    margin: 10px;
}

.sites-table {
    margin: 5px;
}

.hint {
    font-size: small;
    color: #555555;
}
